@import "~bootstrap/scss/bootstrap-grid.scss"; 

.button {
    margin-top: 16px;
    padding: 8px;
    border: 1px solid var(--primary-border-color);
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
    a {
        color: var(--primary-color-light);
        text-decoration: none;
    }
}

@include media-breakpoint-up(md) {
    .button {
        font-size: var(--paragraph-desktop-fs);
        a {
            font-size: var(--paragraph-desktop-fs);
        }
    }
}