.aboutUsWrapper {
    text-align: center;
    padding: 64px 20px 32px 20px;

    .aboutUsHeadline {
        text-align: center;
    }
    
    .aboutUsParagraphs {
        padding: 0 20px;
        text-align: left;
    }
}