@import "~bootstrap/scss/bootstrap-grid.scss"; 

footer {
    background-color: var(--footer-background-color);
    padding: 16px 0;
    p {
        text-align: center;
        margin: 0;

        &:last-child {
            margin-top: 16px;
        }
    }
}

@include media-breakpoint-up(md) {
    footer {
        background-color: var(--accent-background-red);
    }
}