footer {
    background-color: var(--footer-background-color);
    padding: 16px 0;
    p {
        text-align: center;
        margin: 0;

        &:last-child {
            margin-top: 16px;
        }
    }
}