@import "~bootstrap/scss/bootstrap-grid.scss"; 
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');
html {
    overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-background-dark) !important;
  color: var(--primary-color-light) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --primary-background-dark: #000;
    --primary-background-light: #fff;
    --primary-color-light: #fff;
    --primary-color-dark: #000;
    --accent-background-red: #fc3031;
    --primary-border-color: #f3f3f3;
    --primary-border-radius: 10px;
    --footer-background-color: #525659;
    --headline-desktop-fs: 2.1rem;
    --paragraph-desktop-fs: 1.3rem;
}

$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px );